# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno locales (credenciales)
.env

# Virtual environments
venv/
env/
.venv/

# SQLite
db.postgres

# Django logs / stuff
*.log
*.pot

# VS Code
.vscode/

# OS
.DS_Store

# IDEs
*.idea/

